.hero {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.hero-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 60vh; 
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  gap: 20px;
}

.hero-text h1 {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  margin: 0; 
}


.btn-car {
  background-color: rgb(234, 142, 50);
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  margin-top: 10px;
}
.btn-car a {
  color: white;          
  text-decoration: none; 
  display: inline-block; 
  width: 100%;
  height: 100%;
}

.btn-car:hover {
  background-color: #009acd;
}

.btn-car:active {
  transform: scale(0.95);
}

#about h2 {
    font-size: 32px;
}

#about ul li {
    font-size: 16px;
    font-weight: 500;
}

#about img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.banner{
    background-image: linear-gradient(#ffffff7c,#ffffff58),url("../images/banner.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    background-attachment: fixed;
}

@media (max-width:992px) {
  .banner{
    height: 80vh;
  }
}
